<script  type="text/x-handlebars-template" id="jobsIndex">

	<div class="col-sm-12">
		  <h4>{{title}}</h4>
			<h5>{{location}}</h5>
			<p>{{level}}</p>
			<p>{{salary}}</p>
			<p>{{description}}</p>
	</div>


</script>
