<script  type="text/x-handlebars-template" id="jobsShowPage">
	<br>
	<h3>Here's the info on that job</h3>
	<div class="col-sm-12">
		<h6>Title: {{title}}</h6>
		<p>Location: {{location}}</p>
		<p>Exp: {{level}}</p>
		<p>Salary: {{salary}}</p>
		<p>Description: {{description}}</p>
	</div>
	<a href="">Back</a>
</script>
