
<div class="col-sm-6">
<%= link_to "Job Seekers", new_user_registration_path, class: "btn btn-primary" %><br><br>
</div>


<div class="col-sm-6">
<%= link_to "Employers", new_organization_registration_path, class: "btn btn-secondary" %>
</div>


<div class="col-sm-12">
<%= link_to "View Jobs", jobs_path, class: "btn btn-secondary" %>
</div>
