
<div class="col-md-6">
<%= link_to "Job Seekers", new_user_registration_path, class: "btn btn-primary" %><br><br>
<%= button_to "Google+", user_google_oauth2_omniauth_authorize_path, class: "btn googleBtn" %>
</div>
<div class="col-md-6">
<%= link_to "Employers", new_organization_registration_path, class: "btn btn-secondary" %>
</div>
