// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


form.new_user {
	width:300px;
	margin:auto;
	margin-bottom: 20px;
}

