<div class='col-md-12'>
<h2><%= @org.name %>'s Open Jobs</h2>
</div>
<ul>
  <% @jobs.each.with_index(1) do |job,i| %>
  <li>
    <%="#{i}."%><%= link_to job.title, organization_job_path(job) %><br>
</li>
   <%end%>
</ul>
