

        <nav class="nav nav-pills flex-column flex-sm-row">
          <% if current_user.nil? && current_organization.nil? %>
          <%= link_to "Home", root_path, class:"btn btn-primary flex-sm-fill text-sm-center nav-link " %>

          <%= link_to "Seeker", new_user_session_path, class:"btn btn-primary flex-sm-fill text-sm-center nav-link" %>

          <%= link_to "Employer", new_organization_session_path, class:"btn btn-primary flex-sm-fill text-sm-center nav-link " %>

           <%else%>

           <%= render 'layouts/logged_in_nav' %>

          <%end%>


        </nav>
